@using LoanManagementSystem.App.Services.Authentication.Contracts
@using LoanManagementSystem.App.Services.User.Contracts
@using LoanManagementSystem.Common.Cookie
@inherits LayoutComponentBase

@inject IAuthState Auth
@inject NavigationManager NavigationManager
@inject IUserService UserService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
              @if (IsUserAuthorized) {
            <div class="top-row px-4">
               <button type="button" @onclick="LogOut" class="btn btn-link">Log Out</button>
            </div>
        }
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public bool IsUserAuthorized { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsUserAuthorized = await Auth.IsAuthorized();
        Auth.OnAuthStateChanged += OnAuthStateChanged;
    }

    protected void OnAuthStateChanged(bool state)
    {
        IsUserAuthorized = state;
    }

    public async Task LogOut()
    {
        CookieModel token = await Auth.GetToken();

        if (token.Present)
        {
            bool response = await UserService.LogOut(token.Value);

            if (response)
            {
                await Auth.LogOut();
                NavigationManager.NavigateTo("/login");
            }
        }
    }
}
